

@font-face {
  font-family: 'regular';
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'medium';
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'bold';
  src: url(../fonts/Montserrat-Bold.ttf);
}
/*Eliminamos los margenes y paddings que agrega el navegador por defecto*/
* {
    padding: 0;
    margin: 0;
  }
   
  /*Agregamos margenes inferiores a los parrafos*/
  p {
    margin-bottom: 20px;
  }


nav {
    background-color: #3f51b5 !important;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.contenido {
    padding-top: 80px;
  }

  
.head {
  background-image: linear-gradient(rgba(255,255,255,0.61), rgba(0,0,0,0.64)), url(../images/imagen1.jpg);
  padding-top: 10%;
  padding-bottom: 1%;
  background-attachment: fixed;
  /* position: absolute; */
  width: 100%;
  height: 100%;
}

.head4 {
  padding-top: 10%;
  padding-bottom: 1%;
}

.prom2 {
  padding-top: 70px;
}

p.txt {
  font-family: "bold";
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
}

p.txt1 {
  font-family: "Open Sans",sans-serif;
  font-size: 25px;
  color: #fff;
}

 label {
  color: #26a29a;
}

.input-field>label {
   color: #2196F3; 
}

input.select-dropdown.dropdown-trigger {
  color: #44444469;
}

p.txt2 {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'bold';
}

p.txt3 {
  font-family: 'medium';
  font-size: 35px;
  color: rgb(0, 0, 0);
}

.head1 {
  background-image: linear-gradient(rgb(63, 81, 181), rgb(63, 81, 181));
  padding-bottom: 1%;
}

p.txt4 {
  font-family: "Open Sans",sans-serif;
  font-size: 50px;
  color: rgb(255, 255, 255);
}

p.txt5 {
  font-family: "Open Sans",sans-serif;
  font-size: 35px;
  color: rgb(255, 255, 255);
}

p.txt6 {
  font-family: "Open Sans",sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

p.txt7 {
  font-family: "Open Sans",sans-serif;
  font-size: 18px;
  color: rgb(0, 0, 0);
}

.head2 {
  background-image: linear-gradient(rgba(255,255,255,0.61), rgba(0,0,0,0.64)), url(../images/imagen2buscar.jpg);
  padding-top: 5%;
  padding-bottom: 5%;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}




.spacelogo {
  background: rgb(63, 81, 181);
  padding: 5% 5% 10%;
}

.footer {
  background-color: #000000;
  color: #fff;
  padding-left: 5%;
}

p.footer {
  margin-bottom: 0px;
}

.card-header1 {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
  text-align: center;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.txtpu{
  color: #fff;
}

.form-group {
  margin-bottom: 10px;
}

.alert.alert-danger {
  background-color: #FF5722;
}

/* Catalogo -------------*/
#bizs {
  position: relative;
  max-width: 100%;
  width: 80%;
  }
 
  .white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
  padding: 10px;
  }
  .white-panel h1 {
  font-size: 1em;
  }
  .white-panel h1 a {
  color: #A92733;
  }
  .white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  }

  .contain {
    margin: 0 auto;
    width: 95%;
}

/*detalle del negocio -------------*/

p.detalle1 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
    font-family: 'medium';
    margin-bottom: 0;
}

p.detalle2 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: 'regular';
  margin-bottom: 0;
}

p.detalle3 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'regular';
}

p.detalle4 {
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: 'medium';
  margin-bottom: 0;
}

input.form-control.userid {
  visibility: hidden;
}
